:host {
  display: block;
}

.task-board-container{
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}



.task-card {
  padding: 20px 15px 20px 15px;
  text-align: center;
  border-radius: 9px;
}

.board-header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.board-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-task{
  background-color: #f0f8ff;
}

.in-progress-task{
  background-color: #fff8dc;
}

.done-task{
  background-color: #f5f5dc;
}

#todoList div{
  background-color: #f0f8ff;
}

#inProgressList div{
  background-color: lightgoldenrodyellow;
}

#doneList div{
  background-color: lightgreen;
}

.task-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
